<!DOCTYPE html>

<html>

<head>

    <meta charset="utf-8">
    <title>shape-it-with-colours</title>

    <link rel="stylesheet" href="/shape-it-with-colours/public/css/css/style.css">

{{!-- <link rel="preconnect" href="https://fonts.gstatic.com"> --}}
{{!-- <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap" rel="stylesheet"> --}}


</head>

<body>

    {{{body}}}


</body>




</html>