<div class="container">

    <div class="navbar">

        <img src="/assets/download(1).png" class="logo">
    </div>

    <div class="row">
        <div class="col">
            <h1>Shape-it-with-colours</h1>
            <br>
            <p>Let us help you know your shapes</p>
            <button type="button"><a href="shapes-and-colours"> START </a></button>
        </div>


    </div>
</div>