<header>
    <h1>SHAPE IT WITH COLOURS</h1>
</header>

<br>
<br>
<br>
<br>
<footer>
    <div class="row">
        <p>
            Copyright &copy; 2020 by Sino, Bomza, Namhla and Yongama. All rights reserved.
        </p>
    </div>
</footer>